<template id="phone-number-template">
  <div class="phone-number-group mb-2 d-flex align-items-center">
    <input type="text" name="contact[phone_numbers_attributes][NEW_RECORD][number]" class="form-control me-2" placeholder="+380501234567" />
    <button type="button" class="btn btn-outline-danger btn-sm remove-phone-number">✖</button>
  </div>
</template>
